$Brightorange: hsl(31, 77%, 52%) ;
$Darkcyan: hsl(184, 100%, 22%) ;
$Verydarkcyan: hsl(179, 100%, 13%) ;
$paragraphs: hsla(0, 0%, 100%, 0.75) ;
$backgroundheadingsbuttons: hsl(0, 0%, 95%);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    // font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    text-align: center;
    background-color: $backgroundheadingsbuttons;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.card-container {
    width: 65%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 33% 33% 34%;
    text-align: left;
}
.left-part {
    background-color: $Brightorange;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 40px;
}
h2 {
    margin-top: 30px;
    color: $backgroundheadingsbuttons;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
}
p {
    margin-top: 25px;
    color: $paragraphs;
    font-size: 0.9em;
    line-height: 22px;
}
.btn {
    margin-top: 100px;
    width: 150px;
    height: 50px;   
    border-radius: 30px;
    border: none;
    background-color: $backgroundheadingsbuttons;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover {
 border: 1px solid $backgroundheadingsbuttons;
 background: none;
 color: $backgroundheadingsbuttons;
}
.one {
    color: $Brightorange;
}
.two {
    color: $Darkcyan;
}
.three {
    color: $Verydarkcyan;
}
.middle-part {
    background-color: $Darkcyan;
    padding: 40px;
}
.right-part {
    background-color: $Verydarkcyan;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 40px;
}